
* {
  box-sizing: border-box;
  color: #0a0a0a;
}

.green {
  background: #fafafa;
  background-size:auto 150px;

  color: #fff;

  display:flex;


  margin-left:auto;
  /* width: 2500px; */

  width: 100%;  
  height: 190%;  
  object-fit: cover; 

}

.terrain {
  color: #fff;

  display:flex;

  margin-left:auto;
 

  width: 40%;  
  height: 40%;  
  object-fit: cover; 
 
 
}


h1 {
  text-align: center;


}

.logo{
  width: 500px;
}



.login{
  text-align: center;
  margin: 10em 3em ;
  font-size: 20px;

}

.login form{
  align-items: center;
  display:flex;
  flex-direction: column; 
  
}

.login input{ 
 
  padding:10px 13px;
  width: 80vw;
  border-bottom:1px solid rgb(14, 13, 13);
  box-shadow: 0px 1px 8px rgba(0, 0, 0,0.1);
  border-radius: 5px;
  margin-top:0.3em 0
}

.login label{
  display:flex;
  flex-direction: column;
  color:#e7e1e1;
  text-align: start;
  font: bold;
  
}

.log {
background-color: purple;
color: rgb(255, 255, 255);
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
width: 27%;
}

.orange {
  text-align: center;
  align-items: center;

}



@media (min-width: 1225px) {
  
  .login{
    margin-top: 9em
    
    
  }
  .login input{
    width: 25vw
  }
}

