* {
color: black;
 
}

/*SECTION 1*/
.green {
background: #f1f1f1;
width: %; 
margin: 0;
background-image: url("https://res.cloudinary.com/dro81vxlb/image/upload/v1628698874/terr_cwpsq2.png");
background-repeat: no-repeat;
background-position: right;
padding: 0px 0px;

}

.logo{
width: 500px;

}

.login{
text-align: center;
margin: 20em ;
font-size: 20px;

}

.login form{
align-items: center;
display:flex;
flex-direction: column; 
  
}

.login input{ 
padding:10px 13px;
width: 80vw;
border-bottom:1px solid rgb(14, 13, 13);
box-shadow: 0px 1px 8px rgba(0, 0, 0,0.1);
border-radius: 5px;
margin-top:0.3em 0

}

.login label{
display:flex;
flex-direction: column;
color:#e7e1e1;
text-align: start;
font: bold;
  
}

.log {
background-color: purple;
color: rgb(255, 255, 255);
border-radius: 10px;
width: 325px;
height: 50px;
left: 265px;
top: 548px;
background: #673389;
border-radius: 80px;
font-size: 22px;
font-style: bold;
margin-bottom: 2em;

}

.log2 {
background-color: purple;
color: rgb(255, 255, 255);
border-radius: 10px;  
width: 325px;
height: 50px;
left: 265px;
top: 548px;
background: #673389;
border-radius: 80px;
font-size: 22px;
font-style: bold;
  
}

/*FORGOT PASSWORD*/
.forgot {
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
align-items: right;
letter-spacing: 0.02em;
text-decoration-line: underline;

}

/*SECTION 2*/
/* .terrain {
color: #fff;
display:flex;
margin:0;
height: 100vh;
width: 100%;
padding:0px 10px;
background-image: 
/* position: right; */
/* padding: 0px 0px 0px 0px; */
/* float: right; */ 


@media (min-width: 1225px) {
  .login{
    margin-top: 9em
    
  }
  .login input{
    width: 25vw
  }
}