* {
box-sizing: border-box;
color: #0a0a0a;

}

/*BLOC 1*/
.green {
background: #fafafa;
color: #fff;
display:flex;
margin:0;

}

/*LOGO BLOC 1*/
.logo{
width: 500px;

}

.login{
text-align: center;
margin: 10em ;
font-size:35px;

}

.login form{
align-items: center;
display:flex;
flex-direction: column; 
  
}

.login input{ 
padding:10px 13px;
width: 80vw;
border-bottom:1px solid rgb(14, 13, 13);
box-shadow: 0px 1px 8px rgba(0, 0, 0,0.1);
border-radius: 5px;
margin-top:0.3em 0

}

/*EMAIL MDP*/
.login label{
display:flex;
flex-direction: column;
text-align: start;
font-style: normal;
font-weight: normal;
font-size: 25px;
    
}


.forgot {
display: flex;
align-items: center;
letter-spacing: 0.02em;
text-decoration-line: underline;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;

}

.account {
color: black; 
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

}

/*BLOC 2*/
.terrain {
color: #fff;
display:flex;
margin-left:auto;
width: 100vh;  
height: 100vh;
object-fit: cover; 
width: 100%;  
height: 190%; 
 
}


@media (min-width: 1225px) {
  .login{
  margin-top: 9em
    
  }
  .login input{
  width: 25vw

  }
}