.profile {
    background-color: #292222;
    margin:0;
    padding: 10px 50px;
  }
  
  .profile .section1 h1 {
    font-weight: 400;
    font-size:30px;
    color: white;
    
  }
  .profile .section2 {
    display:flex;
    flex-direction: row ;
    justify-content: space-evenly;
  }