/*BLOC 1*/
.green {
background: #fafafa;
display:flex;
margin-left:auto;
width: 100%;  
height: 190%;  
object-fit: cover; 

}

.log {
background-color: purple;
color: rgb(255, 255, 255);
border-radius: 10px;
width: 27%;

	}

.signup{
margin: 7.5em 1.5em 0;
font-size:0.9em;
text-align: center;
	
}

.signup form{
margin-top: 2em;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

.signup label{
display:flex;
flex-direction: column;
color:#cfa5a1;
text-align: start;

}

/*BLOC 2*/
.terrain {
color: #fff;
display:flex;
margin-left:auto;
width: 40%;  
height: 40%;  
object-fit: cover;  
   
  }


@media (min-width: 1225px) {

.signup{
  margin-top: 9em
}

.signup input{ 
  width: 25vw
}
}


