.home {
  background-color: #FABB76;
}

/*SECTION 1*/

.home .section1 {
  height: 647px;
  background-image: url('https://res.cloudinary.com/dp1lq7mea/image/upload/v1628183286/dorian-mongel-lFhyR3GVOXE-unsplash_kdw9u1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home .section1 .container {
  position: absolute;
  left: 80px;
  bottom: 25%;
}

.home .section1 .container .text {
  width: 420px;
  height: 280px;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.home .section1 .container .text h1 {
  color: white
}

.home .section1 .container .text .orange {
  color: #FEA146;
}

.home .section1 .container a {
  position: absolute;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  padding: 15px 45px;
  background-color: black;
}

/*SECTION 2*/

.home .section2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #292222;
  color: white;
  padding: 0 20px;
}

.home .section2 div {
  padding: 40px 100px;
}

.home .section2 h1 {
  line-height: 10px;
  font-size: 40px;
  font-weight: 650;
  letter-spacing: .3rem;
}

.home .section2 h2 {
  height: 75px;
  font-weight: 500;
}

/*SECTION 3*/

.home .section3 {
  height: 500px;
  background-image: url('https://res.cloudinary.com/dp1lq7mea/image/upload/v1628191311/oleksii-s-O2kqxbix4Mw-unsplash_zady7o.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 45%;
}

.home .section3 .container {
  color: white;
  padding: 0 80px;
  width: 50%;
}

.home .section3 p {
  font-size: 22px;
  line-height: 40px;
}

/*SECTION 4*/

.home .section4 {
  color: white;
  background-color: #292222;
  text-align: center;
  padding: 50px;
}

.home .section4 h1 {
  line-height: 10px;
  font-size: 30px;
  font-weight: 650;
  letter-spacing: .3rem;
  padding-bottom: 40px;
}

.home .section4 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.home .section4 div {
  padding: 0 20px;
}

.home .section4 h2 {
  font-size: 25px;
  font-weight: 500;
}

.home .section4 h3 {
  font-weight: 400;
  font-size: 20px;
}

.home .section4 p {
  font-weight: 200;
  font-size: 15px;
}

.home .section4 .container img {
  height: 100px;
}

/*SECTION 5*/

.home .section5 {
  color: black;
  text-align: center;
  padding: 50px;
}

.home .section5 h1 {
  line-height: 10px;
  font-size: 30px;
  font-weight: 650;
  letter-spacing: .3rem;
  padding-bottom: 40px;
}

.home .section5 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.home .section5 div {
  padding: 0 20px;
}

.home .section5 h2 {
  font-size: 25px;
  font-weight: 500;
}

.home .section5 h3 {
  font-weight: 400;
  font-size: 20px;
}

.home .section5 p {
  font-weight: 200;
  font-size: 15px;
}

.home .section5 .container img {
  height: 200px;
  border-radius: 100%;
}

.home .section6 {
  color: white;
  background-color: #292222;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.home .section6 .info {
  position: relative;
}

.home .section6 .info .shape {
  position: absolute;
  top: 55px;
  left: -155px;
}

.home .section6 .info .content {
  position: absolute;
  z-index: 1;
  color: black;
}

.home .section6 .contact {
  width: 628px;
}

.home .section6 .contact form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home .section6 .contact .form {
  display: flex;
  flex-direction: column;
  color: white;
}

.home .section6 .contact .form input {
  height: 35px;
  width: 300px;
  margin-bottom: 20px;
}

.home .section6 .contact .text {
  display: flex;
  flex-direction: column;
}

.home .section6 .contact .text textarea {
height: 210px;
  background-color: transparent;
  resize: none;
  outline: none;
  color: white;
  border-left: 2px solid #D2CBCB;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.home .section6 .contact .text .button {
  background-color: #FABB76 ;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 10px;
  border: none;
}
